__pycache__
*.pyc
*.whl
.eggs
*.egg-info
.tox
.nox
.venv
venv
env
.git
.gitignore
.gitattributes
Dockerfile
docker-compose*.yml
.dockerignore
dist/
build/
htmlcov/
.coverage
.mypy_cache
.pytest_cache
.ruff_cache
